worker_processes auto;

events {
    worker_connections 1024;
}

http {
    # Buffer settings for handling large headers and body sizes
    large_client_header_buffers 4 16k;  # Adjust buffer size as needed
    client_max_body_size 64M;  # Allow larger uploads if necessary

    # Upstream configuration for load balancing between two servers
    upstream wordpress_backend {
        server 192.168.100.91;
        server 192.168.100.92;
    }

    # Include your WordPress site configuration
    include /etc/nginx/conf.d/*.conf;
}
